#bubble{
  width: 245px;
  height: 55px;
  background-color: hsl(217, 19%, 35%);
  background-image: url(icon-twitter.svg), url(icon-facebook.svg), url(icon-pinterest.svg);
  background-repeat: no-repeat;
  background-position: 50%, 70%, 90%;
  z-index: 10;
  position: relative;
  left: -110px;
  top: -70px;
  display: block;
  border-radius: 10px;
  color: hsl(210, 46%, 95%);
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 4px;
  line-height: 55px;
  padding-left: 35px;
  display: none;
}
@media only screen and (max-width: 375px){
  #bubble{
    width: 220px;
    height: 60px;
    position: relative;
    left: -250px;
    top: 0;
    padding: none;
  }
}
