*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction: column;
  align-content: center;
  height: 100vh;
  font-family: 'Manrope', sans-serif;
  background: hsl(210, 46%, 95%);
}
#main{
  display: flex;
  width: 730px;
  height: 280px;
  align-self: center;
  border: 1px solid black;
  border-radius: 15px;
  overflow: hidden;
  background: white;
}
#image{
  width:280px;
  background: url(drawers.jpg) no-repeat;
  background-size: cover;
}
#wrapper{
  width: 450px;
}
#content{
  width: 80%;
  margin: 10%;
}
h1{
  font-size: 20px;
  color: hsl(217, 19%, 35%);
}
h4{
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  font-weight: 500;
}
.profile{
  font-size: 13px;
}
